.actions {
  margin-top: 100px;
  text-align: center;
}

button {
  width:200px;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #008000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 0px;
}

.double{
  background: #698676;
  padding-top:10px;
  padding-bottom:10px;
  margin-left:100px;
  margin-right:100px;
  border: 0px;
  color: #000000;
}


#after-game-actions {
  display: none;
}
