#wrapper {
  margin: 0 auto;
}

#game {
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background: transparent url('https://www.clowerweb.com/cors/blackjack/table.png') 0 0 no-repeat;
  background-size: contain;
}
