#wrapper {
  margin: 0 auto;
}

body{
  background: rgb(13,98,40);
  background: radial-gradient(circle, rgba(13,98,40,1) 0%, rgba(1,49,23,1) 100%);
}

.cash {
  font-size:25px;
  position: absolute;
  left: -355px;
  top: -30px;
  width: 200px;
  height: 50px;
  background: #698676;
  text-align: center;
  line-height: 2;
}

#deck {
  position: relative;
  left: 700px;
  top: -100px;
  width: 110px;
  height: 120px;
  background: url(img/deck.svg);
}

.cardsindeck{
  color: white;
  bottom: 33px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 62px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#dealer-chip {
  display: none;
  width: 100px;
  height: 100px;
  color: #000000;
  top: 110px;
  font-size: 25px;
  background:rgba(255, 255, 255, 0.69);
  text-align: center;
  line-height: 4;
  position: absolute;
  border: 2px solid black;
  border-radius: 100px;
  left: 390px;
}

