#hidden-card {
  background: #B20000 url('https://www.clowerweb.com/cors/blackjack/card.png') center center no-repeat !important;
}

.card {
  width: 75px;
  float: left;
  height: 100px;
  background: #fff;
  position: relative;
  margin-right: 10px;
  margin-left: -35px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

#player {
  height: 100px;
  margin-top: 100px;
}

#dealer {
  height: 100px;
  margin-top: 60px;
}

.hand {
  margin: 0 auto;
  display: table;
  position: relative;
}

.points-block {
  width: 70px;
  height: 70px;
  color: white;
  bottom: -30px;
  font-size: 25px;
  background: rgba(0, 128, 0, 1);
  text-align: center;
  position: absolute;
  border-radius: 70px;
  left: -70px;
}

.points-block p {
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card p {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.diamonds:before, .diamonds:after {
  content: '♦';
  color: #ff0000;
}

.hearts:before, .hearts:after {
  content: '♥';
  color: #ff0000;
}

.clubs:before, .clubs:after {
  content: '♣';
  color: #000;
}

.spades:before, .spades:after {
  content: '♠';
  color: #000;
}

.clubs p, .spades p {
  color: #000;
}

.diamonds p, .hearts p {
  color: #ff0000;
}

.card:before {
  top: 5px;
  left: 5px;
  font-size: 25px;
  position: absolute;
}

.card:after {
  right: 5px;
  bottom: 5px;
  font-size: 25px;
  position: absolute;
}
