#notification-block {
  top: 0;
  width: 100%;
  opacity: 0.8;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
}

.win-notification {
  background: darkgreen;
}

.lose-notification {
  background: darkred;
}

.draw-notification {
  background: darkorange;
}
