#wrapper {
  margin: 0 auto;
}

#dealer-wrapper {
  margin-top: 100px;
  min-height: 130px;
}

body{
  background: rgb(13,98,40);
  background: radial-gradient(circle, rgba(13,98,40,1) 0%, rgba(1,49,23,1) 100%);
}

.cash {
  font-size:25px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  background: #698676;
  text-align: center;
  line-height: 2;
}

#in-game-deck {
  position: absolute;
  right: 20%;
  top: 100px;
  width: 110px;
  height: 120px;
  background: url(../img/deck.svg);
  display: none;
}

#in-game-deck-points {
  width: 55px;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-left: 30px;
  padding-top: 70px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#dealer-chip {
  width: 100px;
  height: 100px;
  color: #000000;
  font-size: 25px;
  background:rgba(255, 255, 255, 0.69);
  text-align: center;
  line-height: 4;
  position: absolute;
  border: 2px solid black;
  border-radius: 100px;
  left: 20%;
  top: 100px;
  z-index: 1;
  display: none;
}
#player-chip {
  width: 100px;
  height: 100px;
  color: #000000;
  font-size: 25px;
  background:rgba(255, 255, 255, 0.69);
  text-align: center;
  line-height: 4;
  position: absolute;
  border: 2px solid black;
  border-radius: 100px;
  left: 20%;
  top: 400px;
  z-index: 1;
  display: none;
}
